.TimeUnit {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  margin: 0px 12px;
}

.TimeUnit-btn {
  height: 32px;
  width: 32px;
  border-radius: 36px;
  outline: 0;
  border: 0;
  font-size: 1.5em;
  color: white;
  box-shadow: 1px 1px 7px rgba(0,0,0,0.35);
}

.TimeUnit-btn:active {
  box-shadow: 1px 1px 1px rgba(0,0,0,0.35);
}

.TimeUnit-value {
  margin: 12px 0px;
  font-size: 2.75em;
  font-family: sans-serif;
}
