.App {
  text-align: center;
  position: relative;
}

.App-header {
  background-color: #B74F6F;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-time-container {
  /*height: 160px;*/
  padding: 20px 0px;
}

.App-time-divider {
  display: inline-block;
}
