.App {
  text-align: center;
  position: relative;
}

.App-header {
  padding: 16px;
  color: #023d48;
}

.App-loading {
  height: 50px;
  width: 50px;
}

.App-time-primary {
  color: #035d6e;
}
.App-time-primary .TimeUnit-btn {
  background-color: #035d6e;
}

.App-time-secondary {
  color: #048ea8;
}
.App-time-secondary .TimeUnit-btn {
  background-color: #048ea8;
}

.App-time-tertiary {
  color: #05aece;
}
.App-time-tertiary .TimeUnit-btn {
  background-color: #05aece;
}

.App-time-container {
  padding: 24px 0px;
}

.App-time-divider {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.8em;
  color: #023d48;
}
